@font-face {
  font-family: "BasementGrotesque";
  src: url("BasementGrotesque-Black_v1.202.otf");
}

body {
  font-family: "BasementGrotesque", sans-serif;
  margin: 0;
  overflow: hidden;
}


/* Set up basic styles for the menu .close-btn */
.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
  height: 25px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 30px;
  margin: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  height: 30px;
  width: 30px;
}

.close-btn:hover {
  animation: twinkle 0.2s ease-in-out 2;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


/* Set up the hamburger icon */
.menu-icon,
.menu-icon::before,
.menu-icon::after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  background-color: #000;
  transition: all 0.2s ease-in-out;
}

/* Set up the initial state of the hamburger icon */
.menu-icon::before {
  transform: translateY(-8px);
}

.menu-icon::after {
  transform: translateY(5px);
}

/* Set up the styles for the menu */
.menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  border-radius: 8px;
  height: 90vh;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  top: 0;
  left: -50%;
  width: 40%;
  height: 95%;
  background-color: #030202;
  opacity: 0.89;
  z-index: 9;
  transition: all 0.5s ease-in-out;
}


.div1 {  
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
.div1 li a {
  font-size: 35px;
  color: #fafafa;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}


/* Set up the styles for the menu when it is open */
.menu.is-active {
  left: 0;
}







